.caja1pag3{
    padding: 30px 0 10px 0;
    color: aliceblue;
}
.caja1pag3 h4{
    color:black;
}
.caja3pag3{
    padding: 30px 0 10px 0;
    color: aliceblue;
}
.caja3pag3 h4{
    color: black;
}
.bg{
    background-color:rgb(156, 154, 154);
}