.videopag4{
    margin: 30px;
}
.tx1pag4{
    margin: 80px 50px 80px 0;
}
.caja2pag4c1{
    color:aliceblue;
    text-align: center;
}
.img1pag4{
    height: 140px;
}
.caja2pag4c2p{
    margin: 15px 12px;
}
.bg{
    background-color:rgb(156, 154, 154);
}